.container {
  width: 100vw;
  height: 100vh;
}

.topRow {
  height: 10vh;
}

.middleRow {
  height: 85vh;
}

.bottomRow {
  height: 5vh;
}

.leftMenu {
  background-color: #aaaaaa;
}

.svgItem {
  background-color: #ffffff;
}