
.inputWrapper {
	position: relative;
	height: var(--input-height);
}

.result,
.input {
	/* positioning */
	height: var(--input-height);
	padding-left: 10px;
	padding-right: 10px;

	/* border */
	outline: 0;
	border: none;

	/* font settings */
	font-size: var(--input-font-size);
	line-height: var(--input-height);
	font-family: 'Courier New', Courier, monospace;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

/* The result div sits below the input showing the current result */
.result {
	position: relative;
	background-color: #eee;
	color: #034b78;
}

/* The input is on top of the result div, but it is fully transparent until users hovers or selects */
.input {
	transition:0.5s all ease;

	/* positioning: overlap with result div */
	position: relative;
	top: var(--input-height-negative);

	/* styles: all transparent to show result div by default */
	font-weight: bold;
	background-color: transparent;
	color: transparent;
}

/* On hover, the input is shown (effectively hiding the result div) */
.input:hover {
	color: var(--color-blue2);
	background-color: var(--color-grey2);
}

/* On focus, the input is highlighted more visibly */
.input:focus {
	color: var(--color-white);
	background-color: var(--color-blue2);
}