
.wrapper .selected {
	background-color: #ccc;
	border: none;
	height: 100%;
	color: #034b78;
	outline: none;
	font-size: 100%;
	width: 100%;
	cursor: pointer;
}

.wrapper .choices {
	position: relative;
	height: 100%;
	width: 100%;
	transform: translateY(-100%);
	visibility: hidden;
	z-index: 10;
}

.wrapper .choices .choice1,
.wrapper .choices .choice2 {
	transition: all 0.5s ease;
	position: absolute;
	top: 0;
	width: 80%;
	left: 10%;
	height: 100%;
	color: #FFFFFF80;
	background-color: #555;
	text-align: center;
	border: none;
	font-size: 100%;
	opacity: 0;
	cursor: pointer;
}

.wrapper .choices .choice1 {
	padding-left: 2px;
	border-radius: 5px 0 0 5px;
}

.wrapper .choices .choice2 {
	padding-right: 2px;
	border-radius: 0 5px 5px 0;
}

.wrapper .selected:focus + .choices {
	visibility: visible;
}

.wrapper .selected:focus + .choices .choice1 {
	left: -28%;
	opacity: 1;
}

.wrapper .selected:focus + .choices .choice2 {
	left: 50%;
	opacity: 1;
}

.wrapper .choices .choice1:hover,
.wrapper .choices .choice2:hover {
	background-color: #333;
	color: white;
}