.spreadsheet {
	position: relative;
	display: grid;
	grid-template-columns: 30px repeat(5, minmax(100px, auto));
	gap: var(--grid-table-gap);
}

.tableColumnLabel,
.tableRowLabel,
.inputResult {
	font-size: 100%;
	line-height: var(--input-height);
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
	text-overflow: ellipsis;
}

.tableColumnLabel,
.tableRowLabel,
.tableCorner {
	position: sticky;
	display: block;
	height: var(--input-height);
	z-index: 3;
	background-image: linear-gradient(to bottom left, var(--color-teal1), var(--color-teal2));
	color: var(--color-white);
	border-radius: 3px;
}

.tableColumnLabel {
	top: 0;
	grid-row: 1;
}

.tableRowLabel {
	left: 0;
	grid-column: 1;
	width: 30px;
}

.tableCorner {
	top: 0;
	left: 0;
	z-index: 4;
	grid-row: 1;
	grid-column: 1;
	width: 30px;
}


.inputWrapper {
	position: relative;
	height: var(--input-height);
}

.result,
.input {
	padding-left: 10px;
	padding-right: 10px;

	font-size: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.result {
	position: relative;
	background-color: #eee;
	border-radius: 3px;
	height: 100%;
	vertical-align: middle;
	color: #034b78;
}

.input {
	transition:0.5s all ease;
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	outline: 0;
	border: none;
	border-radius: 3px;

	font-weight: bold;
	background-color: transparent;
	color: transparent;
}

.input::selection {
	background: #fffffffe;
	color: var(--color-blue2);
}

.input:hover {
	color: var(--color-blue2);
	background-color: #ddd;
}

.result:lang(fr),
.input:lang(fr) {
	background-color: #bbb;
}

.input:focus {
	color: var(--color-white);
	background-color: var(--color-blue2);
}
