.tabAreaWithTopBar {
  /* positioning */
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  /* grid definition */
  display: grid;
  grid-template-areas:
      "topBar"
      "tabAreas";
  grid-template-columns: 1fr;
  grid-template-rows: 1.5rem 1fr;
  gap: 0;
  /* others */
  overflow: hidden;
  overscroll-behavior: none;
}

.topBar {
  width: 100%;
  grid-area: topBar;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr repeat(4, 1.5rem);
  background-color: #888888;
  gap: 0.2rem;
  padding-left: 2rem;
  padding-right: 0.2rem;
  padding-bottom: 0.05rem;
  color:#000000;
}

.tabAreaTypeButton {
  width: 1.5rem;
  height: 100%;
  color:#FFFFFF;
  background-color: #1f1f1f;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  pointer-events: auto;
}
