:root {
	--color-blue1: #011a27;
	--color-blue2: #063852;
	--color-white: #fff;
	--color-grey1: #bbbbbb;
	--color-grey2: #dddddd;
	--color-orange1: #e4b600;
	--color-orange2: #f78b2d;
	--color-orange-bgd: #e3d8cf;
	--color-teal1: #55bcca;
	--color-teal2: #45acba;
	--color-teal-bgd: #c9e0e3;
	--color-lavender1: #c3a8ff;
	--color-lavender2: #b398ff;
	--color-lavender-bgd: #e1e0e6;
	--cell-height: 4vh;
	--cell-width: minmax(100px, auto);
	--resize-size: 5px;
	--resize-offset: -5px;
	--topBar-height: 20px;

	--input-height: 3vh;
	--input-font-size: 2.5vh;
	--input-height-negative: -3vh;
	--grid-table-gap: 2px;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noSelect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
